.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  overflow-x: hidden;
  //iphone 11 and iphone 11 pro max
  //@media only screen and (height: 635px)  and (orientation: portrait) {
  //  height: 719px;
  //}
  //iphone 11 pro
  //@media only screen and (height: 635px) and (orientation: portrait) {
  //  height: 635px;
  //}
  //@media only screen and (height: 454px) and (orientation: portrait) {
  //  height: 454px;
  //}
  //@media only screen and (height: 553px) and (orientation: portrait) {
  //  height: 553px;
  //}
  //@media only screen and (height: 622px) and (orientation: portrait) {
  //  height: 622px;
  //}
  //@media only screen and (height: 664px) and (orientation: portrait) {
  //  height: 664px;
  //}
  //@media only screen and (height: 664px) and (orientation: portrait) {
  //  height: 664px;
  //}
  //@media only screen and (height: 629px) and (orientation: portrait) {
  //  height: 629px;
  //}
  //@media only screen and (height: 746px) and (orientation: portrait) {
  //  height: 746px;
  //}
  @for $i from 454 through 1640 {
    @media screen and (height: #{$i}px) and (orientation: portrait)  {
      height: #{$i}px;
    }
  }
}

.scroller section {
  scroll-snap-align: start;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  position: relative;
  z-index: 2;
  max-height: 100vh;
  overflow: hidden;
}

.slider-container {
  height: 100%;
  position: relative;
}