@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.landing-page {
    display: flex;
    flex-direction: column;

    overflow: hidden;

// .blur-background {
//     width: 100%;
//     height: 100%;
//     min-height: 100vh;

//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;

//     background-image: url("./imgs/background.jpeg");
//     background-position: center;
//     background-attachment: fixed;

//     // &__content {
//     //     width: 400px;
//     //     height: 400px;
//     //     background-color: #FFF;
//     //     border: 10px solid blue;
//     //     border-radius: 150px;
//     // }

//     // filter: blur(64px);
// }

.landing {
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    background: radial-gradient(at top, #4a4a4a, #242424);
    background-repeat: no-repeat;

    width: 100vw;
    min-height: 100vh;

    color: white;

    font-family: Poppins !important;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(6px);

    &__early-access {
        font-size: 12px;
        &-live {
            color: #44FF95;
        }
    }

    &__main-content {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        > h4 {
            font-weight: normal;
        }

        > * {
            margin-bottom: 30px;
        }

        &__logo {
            max-width: 235px;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            > img {
                width: 31px;
                height: 33px;
                object-fit: cover;
            }

            &__text {
                color: #FFF;
                font-family: BD Colonius !important;
                font-size: 32px;
                font-weight: normal;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
            }
        }

        &__button {
            background-color: rgba(0, 0, 0, 0.2);
            color: #FFF;

            font-family: Azo Sans;
            font-size: 24px;
            font-weight: bold;
            font-style: italic;

            padding: 25px 69.5px;

            border: 0.75px solid #44FF95;
            border-radius: 40px;

            background: linear-gradient(180deg, rgba(24, 24, 24, 0.39), rgba(16, 16, 16, 0.39));

            box-shadow: 0 2px 10px #000;
        }

        &__error {
            color: red;
            font-family: Azo Sans;
            font-size: 18px;
        }

        &__slider {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                margin-right: 32px;

                > img {
                    width: 50px;
                    height: 50px;

                    margin-right: 8px;

                    border-radius: 25px;

                    object-fit: cover;
                }
            }
        }

        > h4 > a, a:visited {
            color: #FFF;
            text-decoration: none;
        }

        > h3 > a, a:visited {
            color: #FFF;
        }
    }

    &__footer {
        max-width: 750px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        color: rgba(255, 255, 255, 0.5);

        &__links {
            max-width: 400px;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            > h5 > a, a:visited {
                color: rgba(255, 255, 255, 0.5);
                text-decoration: none;
            }
        }

        @media screen and (max-width: 750px) {
            flex-direction: column;
        }
    }
}
}




// <======================= Connect Wallet Button Model CSS ================================>

.Connect-Wallet-Button-Container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.Connect-Wallet-Button-Container > h1 {
    color: #fff;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
}

.Connect-Wallet-Button-Wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Connect-Wallet-Button-Wrapper > .Connect-Wallet-Button {
    text-align: center;
    margin: 0 20px;
}
.Connect-Wallet-Button-Wrapper > .Connect-Wallet-Button > p {
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 700;
    font-style: italic;
}
.Connect-Wallet-Button-Wrapper > .Connect-Wallet-Button > div {
    height: 80px;
    width: 80px;
    border: 0.75px solid #44FF95;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}