.main-menu-closed {
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: var(--coreBlack);
  opacity: 0;
  transition: all 0.5s ease 0s;
  transform: translate3d(0px, 100%, 0px); 
}

.main-menu-open {
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: var(--coreBlack);
  opacity: 1;
  transition: all 0.5s ease 0s;
  transform:  translate3d(0px, 0px, 0px); 
}

.main-menu-header {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 26px;
}

.main-menu-item {
  color: #eaeaea;
  padding-left: 32px;
  height: 31px;
  font-size: 25px;
  font-family: Quicksand;
  font-weight: bold;
  text-decoration: none;
}

.close-button-holder {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  width: 30px;
  height: 30px;
  padding-right: 26px;
  padding-top: 20px;
}

@media (min-width: 1000px) {
  .close-button-holder {
    width: 75%;
  }
}
