.main-menu-closed {
  position: fixed;
  top: 0px;
  z-index: 9999;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background: var(--coreBlack);
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  /* transform: translate3d(0px, 100%, 0px);  */
}

.menu-list-item{
  margin-bottom: 16px;
}

.main-menu-open {
  position: fixed;
  top: 0px;
  z-index: 999999999;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background: var(--coreBlack);
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
  /* transform:  translate3d(0px, 0px, 0px);  */
}

.main-menu-header {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 26px;
  justify-content: space-between;
  align-items: center;
}

.main-menu-header .user-details{
  display: flex;
  flex-direction: column;
}

.main-menu-header .show-tokens{
  padding: 10px 14px 8px 14px;
  border-radius: 31px;
  position: relative;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 27px;
}

.main-menu-header .show-tokens span{
  z-index: 9;
  line-height: 18px;
  margin-bottom: -2px;
}

.main-menu-header .show-tokens::before {
  content: '';
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  position: absolute;
  border-radius: 27px;
  border: 2px solid transparent;
  background-image: linear-gradient(#242424, #242424), radial-gradient(circle at top left,#6C00FF,#FF00C7);
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: 0;
  opacity: 1 !important;  
}

.main-menu-holder{
  padding-top: 68px;
}

.main-menu-holder > a{
  display: block;
}

.main-menu-item {
  color: #eaeaea;
  padding-left: 16px;
  height: 31px;
  font-size: 25px;
  /* font-family: Quicksand; */
  font-weight: bold;
  text-decoration: none;
}

.close-button-holder {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.main-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  align-items: center;
}

.left-header{
  display: flex;
}

.right-header{
  display: flex;
  align-items: center;
}
.right-header a{
  margin-left: 14px;
  display: block;
}

.right-header img{
  z-index: 4;
}

.right-header .close-button{
  margin: 0px;
}

@media (min-width: 1000px) {
  .close-button-holder {
    width: 75%;
  }
}
