.card-style {
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--midnightBlack);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
  border-radius: 5;
  height: 390;
  width: 90%;
}

.card-image {
  margin: 0 12px !important;
	border-radius: 6px;
	object-fit: cover;
  object-position: 50% 0%;
	max-height: 338px !important;
}

@media(min-width: 1000px) {
	.card-image {
		object-fit: cover;
		object-position: 50% 0%;
		max-height: 444px;
		margin: 0;
	}
}

.drop-swipe-author-title {
  margin: auto;
}

.detail-swipe-view-header-image {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 12px;
  margin-top: 12px;
}

.detail-swipe-view-placeholder-image {
  height: 30px;
  width: 30px;
  margin-right: 12px;
  margin-top: 12px;
}


.drop-swipe-detail-title {
	margin: 12px auto 0 auto;
}

.drop-swipe-detail-holder {
	display: flex;
	margin: 12px auto;
}

.drop-swipe-category-title {
  height: 22px;
  border-radius: 3px;
  background-color: var(--coreBlue);
  text-align: center;
  padding: 0px 8px;
  margin-left: 20px;
  vertical-align: middle;
  line-height: 22px;
  color: #eeeeee;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;   
  text-transform: uppercase;
}

.drop-swipe-detail-piece-no {
	color: #aaaaaa;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
	text-align: left;
	padding-top: 2px;
	padding-left: 20px;
}

.drop-swipe-detail-date {
	color: #aaaaaa;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
	text-align: left;
	padding-top: 2px;
  padding-left: 20px;
}

.dislike-icon {
	width: 38px;
}

.like-icon {
	width: 34px;
	height: 34px;
	margin: 0 auto;
}

.swipe-card-view-header {
  height: 54px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

@media(max-height: 590px) {
	.card-image {
		height: 100px !important;
	}

}

@media screen and (min-height : 591px) and  (max-height : 714px) {
	.card {
		height: 440px !important;
	}

	.card-image {

		height: 300px !important;
	}

	.card-deck-holder {
		/* height: 110vh !important;  */
	}


}

.swipe-card-bottom-button-holder {
	display: flex;
	margin: auto;
	position: absolute;
	transform-origin: center;
	left: 50%;
	bottom: 34px;
  transform: translate(-50%, 0%);
}

.drop-swipe-detail-title-detail-holder {
	display: flex;
	flex-direction: column;
}

.card-deck-holder {
	/* position: relative;
	width: 100%;
	height: 100vh; 
	overflow: hidden; */
}

.card {
	max-width: 600px;
	height: 478px;
	position: absolute;
	border-radius: 10px;
	left: 0;
	right: 0;
	margin-left: 26px;
	margin-right: 26px;
	transform-origin: center;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	cursor: -webkit-grab;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: perspective(900px);
	transform: perspective(900px);
	background: #262626;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	background-size: 0 0;
}

@media(min-width: 601px) {
	.card {
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 374px) {
	.card {
		width: 296px;
		height: 296px;
		background-size: 276px 276px;
		background-position: right 10px top 10px;
		background-repeat: no-repeat;
	}

	.card-image {
		visibility: hidden;
		margin: auto !important;
	}

	.swipe-card-view-header {
		padding-top: 3px;
	}

	.drop-swipe-author-title {
		margin: 12px auto;
		background-color:rgba(54, 53, 53, 0.24);
		padding: 2px 4px;
		border-radius: 4px;
		backdrop-filter: blur(32px);
		font-size: 18px !important;
	}

	.drop-swipe-detail-title-detail-holder {
		border-radius: 0 0 4px 4px;
		background-color: rgba(0, 0, 0, 0.08);
		height: 67px;
		margin: 0;
		margin: auto;
		backdrop-filter: blur(17px);
		width: 260px;
	}

	.drop-swipe-detail-title {
		margin: 8px auto 0 auto;
		font-size: 18px !important;
	}

	.drop-swipe-detail-holder {
		margin: 8px auto;
	}

	.dislike-icon {
		width: 29px;
	}
	
	.like-icon {
		width: 25px;
		height: 25px;
	}
}

