.landing-cell {
  max-height: 148px;
  padding: 14px 16px;
  margin: 6px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #262626;
  min-width: 300px;
  max-width: 900px;
}

.drop-inner {
  display: flex;
  flex-direction: row;
}

.drop-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.drop-header {
  display: flex;
  flex-direction: row;
}

.drop-header-title {
  height: 34px;
  border-radius: 3px;
  background-color: #363535;
  text-align: center;
  padding: 0px 8px;
  margin-left: 12px;
  vertical-align: middle;
  line-height: 34px;   
  color: #eeeeee;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.drop-footer {
  display: flex;
  flex-direction: row;
}

.drop-marketplace-title {
  height: 22px;
  border-radius: 3px;
  background-color: var(--corePurple);
  text-align: center;
  padding: 0px 8px;
  vertical-align: middle;
  line-height: 22px;
  color: #eeeeee;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.drop-category-title {
  height: 22px;
  border-radius: 3px;
  background-color: var(--coreBlue);
  text-align: center;
  padding: 0px 8px;
  margin-left: 12px;
  vertical-align: middle;
  line-height: 22px;
  color: #eeeeee;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;   
  text-transform: uppercase;
}

.drop-artist-image {
  width: 32px;
  height: 32px;
  border: 1px solid #979797;
  background-color: #343434;
  object-fit: cover;
  border-radius: 16px;
}

.drop-name {
  padding-top: 12px;
  padding-bottom: 8px;
  color: #eeeeee;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.drop-date {
  padding-bottom: 12px;
  color: #7a7a7a;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
}

.drop-image {
  border-radius: 4px;
  height: 124px;
  width: 124px;
  object-fit: cover;
}