.home-container {
    margin: 0 auto;
    padding: 120px 0px 100px 0px;
    overflow-y: hidden;
    overflow-x: hidden;
  }


.swipe{
  /* width: 440px; */
  margin: auto;
  cursor: pointer;
}
/* 
div.rel{
  width: 100% !important;
} */
