.drop-list {
  margin-top: 12px;
  margin-bottom: 140px;
  flex: 1 1 auto;
  overflow: auto;
}

.swipeable-list{
  max-width: 576px;
  margin: auto;
}

.swipeable-list-item{
  margin: 10px 0;
}

.card{
  background-color: #1a1a1a;
  width: 100%;
}

.swipe-action{
  display: flex;
  align-items: center !important;
  justify-content: center;
  width: 70px !important;
}

.swipe-action .icon{
  background-color: #272727;
  padding: 10px;
  max-width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
  z-index: 0;
}

.swipe-action .svg-icon{
  font-size: 18px !important;
}

.swipe-action .svg-icon.edit{
  color: #5f6fff !important;
}

.swipe-action .svg-icon.delete{
  color: #ff5e5e !important;
}

@media(max-width: 576px){
  .swipeable-list{
    width: calc(100vw - 24px) !important;
  }
}