$baseline: 1.5rem;

img {
  vertical-align: middle;
  max-width: 100%;
}



.audio-bubble {
  width: 15%;
  margin: 0;
  min-width: 8rem;
}

.audio-bubble__button {
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: black;
  border-radius: 50%;
  cursor: pointer;
  outline: 0;
  border: 1px solid transparent;
  padding: 0;
  position: relative;
  margin-bottom: $baseline;
}

.audio-bubble__image {
  width: 85px;
  height: 85px;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  border-radius: 50%;
  transition: opacity .4s ease;
  .audio-bubble:not(.audio-bubble--active):hover & {
    opacity: .75;
  }
}

.audio-bubble__meta {
  text-align: center;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  .audio-bubble--active & {
    transform: translateY($baseline * 3);
  }
}

.audio-bubble__progress {
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  transform: rotate(-90deg);
  circle {
    stroke: rgba(250, 210, 88, 1.0);
    stroke-dasharray: 608;
  }
  .audio-bubble:not(.audio-bubble--active) & {
    opacity: 0;
  }
}

.audio-bubble__play,
.audio-bubble__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audio-bubble__play {
  width: 35px !important;
}

.audio-bubble__pause {
  width: 35px !important;
}

figure {
  position: absolute;
  top: 32px;
  left: 26px;
}