.custom-login-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 68px);
}

.custom-login-container .options{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
}


.magic-login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.connect-options{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.custom-login-container .options button{
    width: 100%;
    min-width: fit-content;
    flex-basis: 50%;
    line-height: 40px;
    background-color: var(--darkBlue);
    color: var(--grey300);
    border: 1px solid var(--purple500);
    border-radius: 5px;
    font-size: var(--font-size-xs);
    font-weight: 700;
    padding: 0 14px;
    cursor: pointer;
}
