.settings-form-container {
    max-width: 600px;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.blank-gradient-button{
    width: 100%;
}

.blank-gradient-text{
    margin-top: 4px;
}


.settings-fields .text-field-title{
    font-size: 18px;
}

.settings-fields .text-field-form{
    font-size: 18px;
    box-shadow: none;
    border-style: none !important;
    background-color: #131313;
    padding: 12px;
}