.navbar{
  position: fixed;
  z-index: 9999999;
  top: 0;
  backdrop-filter: blur(42px);
}

.nav-bar-menu-icon {
    height: 36px;
    width: 36px;
    border-radius: 19px;
    cursor: pointer;
    background: linear-gradient(#2E2E2E, #1E1E1E);
    /* box-shadow: inset 0 -1px 0px rgba(40, 0, 65, 1.0), 
                0 2px 4px rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-self: center;
  }

.menu-icon{
    position: relative;
    margin: auto;
    width: 36px;
    height: 36px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .leftright{
    height: 3px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    transform: rotate(0);
    transition: all .1s ease-in;
    margin-bottom: 2px;
    -moz-box-shadow: inset 0 2px 2px #00000080;
    -webkit-box-shadow: inset 0 2px 2px #00000080;
    box-shadow: inset 0 2px 2px #00000080;
  }
  
  .rightleft{
    height: 3px;
    width: 16px;
    background-color: #ffffff;
    border-radius: 20px;
    transform: rotate(0);
    transition: all .1s ease-in;
    margin-top: 2px;
    -moz-box-shadow: inset 0 2px 2px #00000080;
    -webkit-box-shadow: inset 0 2px 2px #00000080;
    box-shadow: inset 0 2px 2px #00000080;
  }
  
  .close{
    margin: 60px 0 0 5px;
    position: absolute;
  }
  
  .menu-icon.close-icon .leftright{
    position: absolute;
    transform: rotate(-45deg);
    background-color: #F25C66;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .menu-icon.close-icon .rightleft{
    position: absolute;
    width: 20px;
    transform: rotate(45deg);
    background-color: #F25C66;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  