.landing-cell {
  max-height: 148px;
  padding: 12px;
  /* margin: 6px 0;  */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #262626;
  min-width: 300px;
  max-width: 900px;
  cursor: pointer;
}

.drop-inner {
  display: flex;
  flex-direction: row;
}

.drop-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 12px;
  width: calc(100% - 125px);
}

.drop-header {
  display: flex;
  flex-direction: row;
}

.drop-header-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
  border-radius: 3px;
  background-color: #363535;
  text-align: center;
  padding: 0px 8px;
  margin-left: 12px;
  vertical-align: middle;
  line-height: 34px;   
  color: #eeeeee;
  /* font-family: Quicksand; */
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

/* @media(max-width: 500px) {
  .drop-header-title {
    font-size: 4.4vw;
  }
} */

.drop-footer {
  display: flex;
  flex-direction: row;
}

.drop-marketplace-title {
  height: 22px;
  border-radius: 3px;
  background-color: var(--corePurple);
  text-align: center;
  padding: 1px 8px;
  vertical-align: middle;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.drop-category-title {
  height: 22px;
  border-radius: 3px;
  background-color: var(--coreBlue);
  text-align: center;
  padding: 1px 8px;
  margin-left: 12px;
  vertical-align: middle;
  line-height: 22px;
  color: #eaeaea;
  /* font-family: Quicksand; */
  font-size: 14px;
  font-weight: 700;
  font-style: normal;   
  text-transform: uppercase;
}

.drop-link{
  height: 22px;
  border-radius: 3px;
  backdrop-filter: blur(32px);
  background-color: #646464;
  text-align: center;
  padding: 0px 8px;
  margin-left: 12px;
  vertical-align: middle;
  line-height: 23px !important;
  color: #eaeaea;
  /* font-family: Quicksand; */
  font-size: 14px;
  font-weight: 700;
  font-style: normal;   
  text-transform: uppercase;
  cursor: pointer;
}


@media (max-width: 600px){
  .landing-cell .drop-category-title{
    flex-basis: 25%;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .landing-cell .drop-marketplace-title{
    flex-basis: 25%;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.drop-price{
  height: 22px;
  border-radius: 3px;
  background-color: #6a8ad5;
  text-align: center;
  padding: 1px 8px;
  margin-left: 12px;
  vertical-align: middle;
  line-height: 22px;
  color: #eaeaea;
  /* font-family: Quicksand; */
  font-size: 14px;
  font-weight: 700;
  font-style: normal;   
  text-transform: uppercase;
}

.drop-artist-image {
  width: 30px;
  height: 30px;
  border: 1px solid #979797;
  background-color: #343434;
  object-fit: cover;
  border-radius: 16px;
  border-width: 0.5px;
}

.drop-name {
  padding-top: 12px;
  padding-bottom: 8px;
  color: #eeeeee;
  /* font-family: Quicksand; */
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
}

@media(max-width: 415px) {
  .drop-name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
    text-overflow: ellipsis;
  }
}

.drop-date {
  padding-bottom: 12px;
  color: #7a7a7a;
  /* font-family: Quicksand; */
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  width: fit-content;
}

.drop-image {
  border-radius: 4px;
  height: 125px;
  width: 125px;
  object-fit: cover;
  object-position: 50% 0%;
}