.date-menu-holder {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0px 100px 0px;
}

.menu-item {
  padding: 0 12px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  font-family: Quicksand;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.menu-item-wrapper.active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), inset 0 -1px 0 #002b40;
  border-radius: 17px;
  background-image: linear-gradient(180deg, #2e2e2e 0%, #1e1e1e 100%);
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  border-radius: 25px;
  cursor: pointer;
  font-style: bold;
  color: white;
}