.text-field-holder {
  display: flex;
  flex-direction: column;
}

.text-field-title {
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 18px;
}

input {
  color: #ffffff;
  height: 40px;
  /* font-family: Quicksand; */
  font-size: 14px;
  font-weight: 400;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #171718;
  border-color: #171718;
  padding: 0 8px;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grayBlue);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--grayBlue);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--grayBlue);
}

/* Input type=number default styling removed and disabling counter */

.no-number-counter[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  background: var(--whiteGray)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)
    no-repeat center center;
    ;
  width: 1em;
}


input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-outer-spin-button:active {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}
.no-number-counter::-webkit-outer-spin-button,
.no-number-counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
  margin: 0;
} 