:root {
  --coreBlack: #1a1a1a;
  --midnightBlack: #262626;
  --darkBlack: #2e2e2e;
  --corePurple: #610BC8;
  --coreBlue: #0B57C8;
  --lightBlue: #0088CB;
  --grayBlue: #b3bbc3;
  --royalBlue: #1874cb;
}

body {
  background-color: var(--coreBlack);
  margin:0;
  padding:0;
}

h1 {
  font-size: 25px;
  font-family: Quicksand;
  color: white;
}

h2 {
  font-size: 20px;
  font-family: Quicksand;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 18px;
  font-family: Quicksand;
  font-weight: bold;
  color: white;
}

.p1 {
  font-size: 16px;
  font-family: Quicksand;
  color: white;
}

.p2 {
  font-size: 14px;
  font-family: Quicksand;
  color: white;
}

h1 .bold {
  font-weight: bold;
  color: white;
}

.p1 .bold {
  font-weight: bold;
  color: white;
}

.p1 .medium {
  font-weight: 600;
  color: white;
}

.home-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 120px 12px 100px 12px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.signup-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 0 100px 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.dropmagnet-logo {
  max-width: 304px;
  display: flex;
  flex-direction: row;
  margin: auto auto;
}

.fixed-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--coreBlack);
  width: 95%;
  max-width: 600px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 9998;
}

.header-container {
  padding: 16px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.header-left-image {
  height: 38px;
  width: 34px;
}

.header-right-holder {
  display: flex;
  flex-direction: row;
  height: 38px;
}

.header-right-image {
  height: 36px;
  width: 36px;
  cursor: pointer;
  border-radius: 19px;
}

.list-card-view {
  /* -webkit-backdrop-filter: blur(32px) saturate(100%);
  backdrop-filter: blur(32px) saturate(100%);
  background-color: rgba(11, 87, 200, 0.05);
  border-radius: 3px;
  height: 22px;
  left: 0px;
  opacity: 0.82;
  position: absolute;
  top: 0px;
  width: 74px; */
  width: 270px;
  height: 38px;
  position: fixed;
  bottom: 32px;
  border-radius: 44px;
  background-color: rgba(11, 87, 200, 0.05);
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-card-view-text {
  padding: 4px 4px;
  color: white;
}

.list-card-view-text-selected {
  padding: 4px 4px;
  color: white;
  font-weight: bold;
}

.list-card-view-selected {
  width: 123px;
  height: 30px;
  border-radius: 30px;
  background-color: rgba(19, 19, 19, 0.68);
  padding: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.list-card-view-unselected {
  width: 123px;
  height: 30px;
  padding: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card-holder {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

@media (max-width: 999px) {
  .hidden_mobile {
    display: none;
  }
}

@media (min-width: 1000px) {
  .hidden_desktop {
    display: none;
  }
}