:root {
  --coreBlack: #1a1a1a;
  --midnightBlack: #262626;
  --darkBlack: #2e2e2e;
  --corePurple: #610BC8;
  --coreBlue: #0B57C8;
  --lightBlue: #0088CB;
  --grayBlue: #b3bbc3;
  --grayWhite: #EAEAEA;;
  --royalBlue: #1874cb;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700');

body {
  background-color: var(--coreBlack);
  margin:0;
  padding:0;
}

.h1-large {
  font-size: 32px;
  font-family: Quicksand;
  color: #EAEAEA;
}

.h1-mid-large {
  font-size: 28px;
  font-family: Quicksand;
  color: #EAEAEA;
}

h1 {
  font-size: 25px;
  font-family: Quicksand;
  color: #EAEAEA;
}

h2 {
  font-size: 20px;
  font-family: Quicksand;
  font-weight: bold;
  color: #EAEAEA;
}

h3 {
  font-size: 18px;
  font-family: Quicksand;
  font-weight: bold;
  color: #EAEAEA;
}

p1 {
  font-size: 16px;
  font-family: Quicksand;
  color: #EAEAEA;
}

p2 {
  font-size: 14px;
  font-family: Quicksand;
  color: #EAEAEA;
}

h1 .bold {
  font-weight: bold;
  color: #EAEAEA;
}

p1 .bold {
  font-weight: bold;
  color: #EAEAEA;
}

p1 .medium {
  font-weight: 600;
  color: #EAEAEA;
}

.home-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 120px 12px 100px 12px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.signup-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0 100px 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.create-drop-container {
  max-width: 600px;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.dropmagnet-logo {
  max-width: 304px;
  display: flex;
  flex-direction: row;
  margin: auto auto;
}

.list-card-view {
  /* -webkit-backdrop-filter: blur(32px) saturate(100%);
  backdrop-filter: blur(32px) saturate(100%);
  background-color: rgba(11, 87, 200, 0.05);
  border-radius: 3px;
  height: 22px;
  left: 0px;
  opacity: 0.82;
  position: absolute;
  top: 0px;
  width: 74px; */
  width: 270px;
  height: 38px;
  position: fixed;
  bottom: 32px;
  border-radius: 44px;
  background-color: rgba(11, 87, 200, 0.05);
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-card-view-text {
  padding: 4px 4px;
  color: white;
}

.list-card-view-text-selected {
  padding: 4px 4px;
  color: white;
  font-weight: bold;
}

.list-card-view-selected {
  width: 123px;
  height: 30px;
  border-radius: 30px;
  background-color: rgba(19, 19, 19, 0.68);
  padding: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.list-card-view-unselected {
  width: 123px;
  height: 30px;
  padding: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card-holder {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.music-info-detail {
  background: rgba(0, 0, 0, 0.59);
  box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(18px);
  position: absolute;
  height: 244px; 
  width: 34px;
  left: 0%;
  top: 0%;
  border-radius: 6px 0px 0px 6px;
  display: inline-block;
}

.play-button-icon {
  background: rgba(32, 32, 32, 0.55);
  border: solid 1px linear-gradient(#D9D9D9, #838383);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5),
              0 6px 13px rgba(0, 0, 0, 0.5);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(11px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 999px) {
  .hidden_mobile {
    display: none;
  }
}

@media (min-width: 1000px) {
  .hidden_desktop {
    display: none;
  }
}