.avatar-container{
    display: inline-block;
    width: 120px;
    height: 120px;
    /* border: 2px solid #000; */
    /* box-shadow: inset 0 7px 12px rgba(0, 0,0, 0.5); */
    /* padding: 8px; */
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.avatar-container.small-avatar{
    width: 36px;
    height: 36px;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
}


.avatar-img-uploader.small-avatar-label > span > span{
    font-size: 12px;
    letter-spacing: 0;
    font-weight: normal;
}

.avatar-img{
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    border-radius: 50%;
}

.delete-button{
    position: absolute;
    top: 0;
    background-color: var(--coreBlack);
    right: 0;
    border-radius: 50%;
    transform: all .2s;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transform: scale(0);
    transition: 0.5s;
}

.acc-profile-pic:hover .delete-button{
    transform: scale(1);
}

.acc-profile-pic{
    position: relative;
}

.edit-btn{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    border: #181818 4px solid;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(0);
    transition: 0.5s;
}

.acc-profile-pic:hover .edit-btn{
    transform: scale(1);
}

.edit-btn .svg-icon{
    font-size: 20px;
}


/* Avatar Crop Modal */

.crop-modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100vw;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crop-modal .close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: black;

}

.close-button img{
    width: 100%;
}

.crop-modal .editor{
    background-color: #262626;
    padding: 20px;
    border-radius: 6px;
    position: relative;
}

.slider input{
    width: 100%;
    cursor: pointer;
}

.editor .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #161616b9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

